@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <link href="~/Content/css/graduation-project.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<div class="col p-3">
    <div class="card border border-2">
        <div class="card-header">
            <h2 class="mb-0">Master's Project Forms</h2>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Forms</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <th scope="row">
                                <div class="media align-items-center">
                                    <span class="avatar rounded-circle mr-3">
                                        <i class="fa-brands fa-wpforms"></i>
                                    </span>
                                    <div class="media-body">
                                        <a href="/Admin/ProjectAdvisorProposalForm" class="mb-0 text-sm">Project Advisor Proposal Forms</a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="media align-items-center">
                                    <span class="avatar rounded-circle mr-3">
                                        <i class="fa-brands fa-wpforms"></i>
                                    </span>
                                    <div class="media-body">
                                        <a href="/Admin/ProjectAdvisorChangeProposalForm" class="mb-0 text-sm">Project Advisor Change Proposal Forms</a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="media align-items-center">
                                    <span class="avatar rounded-circle mr-3">
                                        <i class="fa-brands fa-wpforms"></i>

                                    </span>
                                    <div class="media-body">
                                        <a href="/Admin/ProjectTopicChangeProposalForm" class="mb-0 text-sm">Project Topic Change Proposal Forms</a>
                                    </div>
                                </div>
                            </th>
                           
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="media align-items-center">
                                    <span class="avatar rounded-circle mr-3">
                                        <i class="fa-brands fa-wpforms"></i>

                                    </span>
                                    <div class="media-body">
                                        <a href="/Admin/ProjectTitleProposalForm" class="mb-0 text-sm">Project Title Proposal Forms</a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="media align-items-center">
                                    <span class="avatar rounded-circle mr-3">
                                        <i class="fa-brands fa-wpforms"></i>
                                    </span>
                                    <div class="media-body">
                                        <a href="/Admin/ProjectDeliveryCertificateForm" class="mb-0 text-sm">Project Delivery Certificate Forms</a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="media align-items-center">
                                    <span class="avatar rounded-circle mr-3">
                                        <i class="fa-brands fa-wpforms"></i>

                                    </span>
                                    <div class="media-body">
                                        <a href="/Admin/ProjectPlagiarismReportForm" class="mb-0 text-sm">Project Plagiarism Report Forms</a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


